<div class="head">
  Streets
</div>

<div class="main">

  <div class="left">

    <select (change)="onChange($event.target.value)">
      <option *ngFor="let i of items">{{i.name}}</option>
    </select>
    <div>
      <button class="btn" (click)="craft()">Try to steal</button>
    </div>
  </div>

  <div class="right">
    <div>
      <span>Your inventory: </span>
    </div>
    <div>
      <div class="info-box">
        Papers: {{papers}} (Sells for 10)
      </div>
      <div class="info-box">
        Watches: {{watches}} (Sells for 50)
      </div>
      <div class="info-box">
        Phones: {{phones}} (Sells for 250)
      </div>
      <div class="info-box">
        Gloves: {{gloves}} (Sells for 10)
      </div>
      <div class="info-box">
        Hats: {{hats}} (Sells for 20)
      </div>
      <div class="info-box">
        Sweaters: {{sweaters}} (Sells for 50)
      </div>
    </div>
    <div>
      <button class="btn" (click)="sell()" >Sell all</button>
    </div>
  </div>




</div>

