.head {
  text-align: center;
  padding: 25px;
  font-size: 30px;
}

.main {
  align-content: center;
}

.right {
  width: 50%;
  float: right;
  text-align: center;
}

.left {
  width: 50%;
  float: left;
  text-align: center;
  color: #343a40;
}

select {
  padding: 5px 8px;
  width: 50%;
  background-color: white;
  margin: 10px;
}


.btn {
  background-color: white;
  width: 25%;
  color: #343a40;
  margin-bottom: 10px;
}

.info-box {
  margin: 8px 15px;
}
