<div class="head">
  Streets
</div>

<div class="main">

  <div class="left">

    <select>
      <option value="0">Select item:</option>
      <option value="Paper">Paper (level 0) 5min trip</option>
      <option value="Watch">Watch (level 10) 1hr trip</option>
      <option value="Phone">Phone (level 30) 5 hr trip</option>

    </select>
    <div>
      <button class="btn">Try to steal</button>
    </div>
  </div>

  <div class="right">
    <div>
      <span>Your inventory: </span>
    </div>
    <div>
      <div class="info-box">
        Papers: 0 (Sells for 10)
      </div>
      <div class="info-box">
        Watches: 0 (Sells for 50)
      </div>
      <div class="info-box">
        Phones: 0 (Sells for 250)
      </div>
      <div class="info-box">
        Gloves: 0 (Sells for 10)
      </div>
      <div class="info-box">
        Hats: 0 (Sells for 20)
      </div>
      <div class="info-box">
        Sweaters: 0 (Sells for 50)
      </div>
    </div>
    <div>
      <button class="btn">Sell all</button>
    </div>
  </div>




</div>

