<app-navigation></app-navigation>

<div class="box">
  <form class="login-form">
    <h1>Login</h1>

    <div class="inputs">
      <input type="text" name="username" placeholder="Username">
    </div>

    <div class="inputs">
      <input type="password" name="pass" placeholder="Password">
    </div>

    <div class="login-button">
      <button>
        Login
      </button>
    </div>

    <div class="bottom-text">
      <a class="forgot-password" href="#">
        Forgot Password?
      </a>
    </div>


  </form>
</div>


