.head {
  text-align: center;
  padding: 25px;
  font-size: 30px;
}

.main {
  text-align: center;
}

select {
  padding: 5px 8px;
  width: 50%;
  background-color: white;
  margin: 10px;
  color: #343a40;
}


.btn {
  background-color: white;
  width: 25%;
  color: #343a40;
  margin-bottom: 10px;
}
