.main {
  float: right;
  width: 77%;
  margin-top: 30px;
  border-radius: 5px;
}

.head {
  text-align: center;
  padding: 25px;
  font-size: 30px;
}

.dark {
  background-color: #343a40;
  color: white;
  padding-bottom: 20px;
}
