

<div class="head">
  <span>Your house</span>
</div>

<div class="box left">
  YOUR HOUSE LEVEL IS {{this.tokenService.getHouse()}}
</div>
<div class="box right">
  <button class="btn"(click)="upgradeHouse()">Upgrade House!</button>
  <section *ngIf="this.tokenService.getHouse() == '0'">
    You need 100 paper, 100 gloves and 5 000 cash to upgrade your house!
  </section>
  <section *ngIf="this.tokenService.getHouse() == '1'">
    You need 100 Watches, 100 Hats and 50 000 cash to upgrade your house!
  </section>
  <section *ngIf="this.tokenService.getHouse() == '2'">
    You need 100 Phones, 100 Sweaters and 500 000 cash to upgrade your house!
  </section>

</div>

