
.head {
  text-align: center;
  padding: 25px;
  font-size: 30px;
}

section {
  width: 50%;
  float: right;
}

.box {
  width: 50%;
  padding-bottom: 20px;
}

.left {
  float: left;
  text-align: center;
}

.right {
  float: right;
}

.btn {
  background-color: white;
  width: 150px;
}
