<div class="main dark">
  <section>
    <div class="head">
      <span>Where to go?</span>
    </div>
    <div class="wheretogo-left">
      <div class="togo">
        <a routerLink=""><span>House</span></a>
      </div>
      <div class="togo">
        <a routerLink="/boxing-club">Boxing club</a>
      </div>
      <div class="togo">
        <a routerLink="/streets">Streets</a>
      </div>


    </div>
    <div class="wheretogo-right">
      <div class="togo">
        <a routerLink="/kitchen">Kitchen</a>
      </div>
      <div class="togo">
        <a routerLink="/crafting-room">Crafting room</a>
      </div>
      <div class="togo">
        <a routerLink="/pub">Pub</a>
      </div>
    </div>
  </section>
</div>
