<nav class="navbar  navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <span > TWENTYONE</span>
    </a>
    <div >

      <a  *ngIf="isLoggedIn" class="navbar-brand" href="" (click)="logout()">
        <span >Logout</span>
      </a>



      <a *ngIf="isLoggedIn" class="navbar-brand"  routerLink="">
        <span>{{username}}</span>
      </a>

      <a *ngIf="isAdmin"   class="navbar-brand"  routerLink="/users">
        <span>All USERS</span>
      </a>

      <a *ngIf="!isLoggedIn" class="navbar-brand" routerLink="/login" href="">
        <span>Login</span>
      </a>
    </div>
  </div>
</nav>
