<aside class="your-info dark" >
  <div class="data">
    <span>Your data</span>
  </div>

  <div class="info-box">
    Cash: {{cash}}
  </div>
  <div class="info-box">
    House: {{house}}
  </div>
  <div class="info-box">
    Fame: {{fame}}
  </div>
  <div class="info-box">
    Strength: {{strength}}
  </div>
  <div class="info-box">
    Defence: {{defence}}
  </div>
  <div class="info-box">
    Cooking: {{cooking}}
  </div>
  <div class="info-box">
    Thieving: {{thieving}}
  </div>
  <div class="info-box">
    Crafting: {{crafting}}
  </div>
  <div class="info-box">
    Beverage: {{beverage}}
  </div>
</aside>
