<aside class="your-info dark" >
  <div class="data">
    <span>Your data</span>
  </div>

  <div class="info-box">
    Cash: {{this.tokenService.getCash()}}
  </div>
  <div class="info-box">
    House: {{this.tokenService.getHouse()}}
  </div>
  <div class="info-box">
    Fame: {{this.tokenService.getFame()}}
  </div>
  <div class="info-box">
    Strength: {{this.tokenService.getStrength()}}
  </div>
  <div class="info-box">
    Defence: {{this.tokenService.getDefence()}}
  </div>
  <div class="info-box">
    Cooking: {{this.tokenService.getCooking()}}
  </div>
  <div class="info-box">
    Thieving: {{this.tokenService.getThieving()}}
  </div>
  <div class="info-box">
    Crafting: {{this.tokenService.getCrafting()}}
  </div>
  <div class="info-box">
    Beverage: {{this.tokenService.getBeverage()}}
  </div>
</aside>
