<aside class="your-info dark" >
  <div class="data">
    <span>Your data</span>
  </div>

  <div class="info-box">
    Cash:
  </div>
  <div class="info-box">
    Home:
  </div>
  <div class="info-box">
    Fame:
  </div>
  <div class="info-box">
    Strength:
  </div>
  <div class="info-box">
    Defence:
  </div>
  <div class="info-box">
    Cooking:
  </div>
  <div class="info-box">
    Thieving:
  </div>
  <div class="info-box">
    Crafting:
  </div>
  <div class="info-box">
    Beverage:
  </div>
</aside>
